@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --fuente-primaria: "Bebas Neue", sans-serif;
    --fuente-secundaria: "Open Sans", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    background-color: #eeeeee;
    font-family: var(--fuente-primaria);
    letter-spacing: 1px;
}


.logo {
    width: 4rem;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #202020;
    font-size: 1.4rem;
}

nav ul li a:hover {
    transition: .4s ease-in-out;
    color: #4d4d4d;
}

/* Seccion Categorias Main */

.categorias {
    padding: 2rem;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .4rem;
   
}

.contenedor div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    background-size: cover;
    height: 44rem;
    width: 100%;
    background-repeat: no-repeat;
}

.contenedor .img1 {
    background-image: url(./images/hoodies.png);
}
.contenedor .img1:hover{
    background-image: url(./images/hoodieslogo.jpg);
    transition: .6s ease-in-out;
    background-position: -46px;
}
.contenedor .img2 {
    background-image: url(./images/remeras.png);
}
.contenedor .img2:hover:hover{
    background-image: url(./images/remeralogo.jpg);
    transition: .6s ease-in-out;
    background-position: -46px;
}

.contenedor .img3 {
    background-image: url(./images/pantalones.png);
}
.contenedor .img3:hover:hover{
    background-image: url(./images/pantalonlogo.jpg);
    transition: .6s ease-in-out;
    background-position: -46px;
}

.contenedor .img4 {
    background-image: url(./images/accesorios.png);
}
.contenedor .img4:hover:hover{
    background-image: url(./images/accesoriologo.jpg);
    transition: .6s ease-in-out;
    background-position: -46px;
}

.contenedor .img5 {
    background-image: url(./images/campera.jpg);
     background-position: -46px;
}
.contenedor .img5:hover{
    background-image: url(./images/camperalogo.jpg);
    transition: .6s ease-in-out;
    background-position: -46px;
}

.contenedor .img6 {
    background-image: url(./images/camisa.jpg);
     background-position: -40px;
}
.contenedor .img6:hover{
    background-image: url(./images/camisalogo.jpg);
    transition: .6s ease-in-out;
    background-position: -46px;
}

.contenedor .img7 {
    background-image: url(./images/medias.jpg);
}
.contenedor .img7:hover{
    background-image: url(./images/mediaslogo.jpg);
    transition: .6s ease-in-out;
    background-position: -46px;
}
.contenedor .img8 {
    background-image: url(./images/hoodiescanino.png);
}
.contenedor .img8:hover{
    background-image: url(./images/hoodiescaninologo.png);
    transition: .6s ease-in-out;
    background-position: -46px;
}

/* .contenedor .img5 {
    background-image: url(./images/medias.png);
} */

.boton {
    text-decoration: none;
    color: white;
    font-family: var(--fuente-primaria);
    background-color: black;
    padding: .8rem 2rem;
    border: 1px solid transparent;
    margin-top: 12rem;
}

.boton:hover {
    border: 1px solid white;
    transition: .4s;
    transform: scale(1.1);
    letter-spacing: 4px;
}

/* seccion hoodies */

.hoodies {
    padding: 2rem;
    font-family: var(--fuente-primaria);
}

.imagen {
    width: 18rem;
    height: 24rem;
}

.producto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

h3 {
    letter-spacing: 2.5px;

}

.card-boton {
    text-decoration: none;
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
    
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

.card h3{
    font-size: 18.72px;
}

.card p{
    font-size: 16px;
}

.redes {
    padding: 2rem;
    /* background-color: black; */

    .contenedor-redes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        gap: 2rem;

        .box-redes {
            background-image: url("./images/logo.png");
            background-repeat: no-repeat;
            background-size: cover;
            /* background-color: rgba(0, 0, 0, 0.911); */
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 16rem;
            border: 1px solid rgba(0, 0, 0, 0.705);
            border-radius: .4rem;
            background-position: -0px 40px;
            i {
                color: rgb(0, 0, 0);
                font-size: 3rem;
            }
        }

    }
}
 .prod{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
 } 
 .separador{
    display: flex;
    flex-direction: column;
    gap: .6rem;
 }
.box-talles {
    display: flex;
    gap: 1rem;

    .talles {
        border: 1px solid black;
        padding: .6rem .8rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }

    .talles:hover {
        background-color: #d6d6d6;
        transition: .4s ease-in-out;
    }

    .talle-black {
        background-color: black;
        color: white;
    }
    .talle-black:hover {
        background-color: black;
    }

}

.boton-producto {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: .6rem 0;
    background-color: #2968C8;
    font-size: 1rem;
    font-family: var(--fuente-secundaria);
}

/* Seccion carrito */

.contenedor-carrito {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content:center; 
    align-items:center;
    gap: 1rem;
}

.carrito {
    background-color: rgba(8, 8, 8, 0.774);
    display: flex;
    width: 40%;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
}

.box-carrito {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    color: white;
}

.img-carrito {
    height: 8rem;
    width: 8rem;
}



/* FOOTER */

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    font-family: var(--fuente-primaria);
}

footer h2 {
    color: white;
    font-size: 2rem;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: rgb(223, 223, 223);
    transition: .4s ease-in-out;
}

footer .box {
    display: flex;
    flex-direction: column;
}

a,
i {
    font-size: 1.3rem;
}

footer .flex {
    display: flex;
    gap: .6rem;
}